@{
    ViewData["Title"] = "Aprobar Vacaciones";
}

<div class="accordion mt-3" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Vacaciones Pendientes
                @if (ViewBag.VacacionesPendientes.Count != 0)
                {
                    <img src="~/icons/bell_icon.svg" alt="notification" class="table_notification_icon"> @ViewBag.VacacionesPendientes.Count
                }
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <table class="table table-secondary table-bordered">
                    <thead>
                        <tr>
                            <th>ID Vacación</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Estado</th>
                            <th>Nombre Colaborador</th>
                            <th>Departamento</th>
                            <th>Rol de Usuario</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vacacion in ViewBag.VacacionesPendientes)
                        {
                            <tr>
                                <td>@vacacion.IdVacaciones</td>
                                <td>@vacacion.FechaInicio.ToString("yyyy-MM-dd")</td>
                                <td>@vacacion.FechaFin.ToString("yyyy-MM-dd")</td>
                                <td>@vacacion.Estado</td>
                                <td>@vacacion.Colaborador.Persona.Nombre @vacacion.Colaborador.Persona.Apellido1 @vacacion.Colaborador.Persona.Apellido2</td>
                                <td>@vacacion.Colaborador.Departamento.Nombre</td>
                                <td>@vacacion.Colaborador.Usuario.RolDeUsuario.Descripcion</td>
                                <td>
                                    <a href="@Url.Action("AprobarVacacion", "GestionVacaciones", new { idVacacion = vacacion.IdVacaciones })" class="btn btn-success">Aprobar</a>
                                    <a href="@Url.Action("RechazarVacacion", "GestionVacaciones", new { idVacacion = vacacion.IdVacaciones })" class="btn btn-danger">Rechazar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @if (ViewBag.VacacionesAprobadasPorJefatura.Count != 0)
    {
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed bg-success text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    Vacaciones Aprobadas Por Jefatura
                    @if (ViewBag.VacacionesAprobadasPorJefatura.Count != 0)
                    {
                        <img src="~/icons/bell_icon.svg" alt="notification" class="table_notification_icon"> @ViewBag.VacacionesAprobadasPorJefatura.Count
                    }
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <table class="table table-success table-bordered">
                        <thead>
                            <tr>
                                <th>ID Vacación</th>
                                <th>Fecha Inicio</th>
                                <th>Fecha Fin</th>
                                <th>Estado</th>
                                <th>Nombre Colaborador</th>
                                <th>Departamento</th>
                                <th>Rol de Usuario</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var vacacion in ViewBag.VacacionesAprobadasPorJefatura)
                            {
                                <tr>
                                    <td>@vacacion.IdVacaciones</td>
                                    <td>@vacacion.FechaInicio.ToString("yyyy-MM-dd")</td>
                                    <td>@vacacion.FechaFin.ToString("yyyy-MM-dd")</td>
                                    <td>@vacacion.Estado</td>
                                    <td>@vacacion.Colaborador.Persona.Nombre @vacacion.Colaborador.Persona.Apellido1 @vacacion.Colaborador.Persona.Apellido2</td>
                                    <td>@vacacion.Colaborador.Departamento.Nombre</td>
                                    <td>@vacacion.Colaborador.Usuario.RolDeUsuario.Descripcion</td>
                                    <td>
                                        <a href="@Url.Action("AprobarVacacion", "GestionVacaciones", new { idVacacion = vacacion.IdVacaciones })" class="btn btn-success">Aprobar</a>
                                        <a href="@Url.Action("RechazarVacacion", "GestionVacaciones", new { idVacacion = vacacion.IdVacaciones })" class="btn btn-danger">Rechazar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>