@model IEnumerable<PrototipoFuncionalRecursosHumanos.Models.Colaborador>

@{
    ViewData["Title"] = "Crear Liquidacion";
}

<table class="table">
    <thead>
        <tr>
            <th>ID Colaborador</th>
            <th>Identificación</th>
            <th>Nombre</th>
            <th>Apellido 1</th>
            <th>Apellido 2</th>
            <th>Fecha de Nacimiento</th>
            <th>Correo</th>
            <th>Rol de Usuario</th>
            <th>Departamento</th>
            <th>Puesto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var colaborador in Model)
        {
            <tr>
                <td>@colaborador.IdColaborador</td>
                <td>@colaborador.Persona.Identificacion</td>
                <td>@colaborador.Persona.Nombre</td>
                <td>@colaborador.Persona.Apellido1</td>
                <td>@colaborador.Persona.Apellido2</td>
                <td>@colaborador.Persona.FechaDeNacimiento?.ToString("dd/MM/yyyy")</td>
                <td>@colaborador.Usuario.Correo</td>
                <td>@colaborador.Usuario.RolDeUsuario.Descripcion</td>
                <td>@colaborador.Departamento.Nombre</td>
                <td>@colaborador.Puesto.NombrePuesto</td>
                <td>
                    <div class="row">
                        <div class="col">
                            <a href="@Url.Action("GenerarLiquidacionConResponsabilidadColaborador", "Liquidacion", new { idColaborador = colaborador.IdColaborador })" class="btn btn-success">Generar Liquidacion Con Responsabilidad</a>
                        </div>
                        <div class="col">
                            <a href="@Url.Action("GenerarLiquidacionSinResponsabilidadColaborador", "Liquidacion", new { idColaborador = colaborador.IdColaborador })" class="btn btn-info">Generar Liquidacion Sin Responsabilidad</a>
                        </div>
                        <div class="col">
                            <a href="@Url.Action("GenerarLiquidacionRenunciaColaborador", "Liquidacion", new { idColaborador = colaborador.IdColaborador })" class="btn btn-danger">Generar Liquidacion Renuncia</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
