@model IEnumerable<PrototipoFuncionalRecursosHumanos.Models.Liquidacion>

@{
    ViewData["Title"] = "Gestion Liquidacion";
}

<a href="@Url.Action("CrearLiquidacion", "Liquidacion")" class="btn btn-success">Crear Liquidacion</a>

<table class="table">
    <thead>
        <tr>
            <th>ID Liquidacion</th>
            <th>Fecha Generacion</th>
            <th>Monto Liquidacion</th>
            <th>Identificación</th>
            <th>Nombre</th>
            <th>Apellido 1</th>
            <th>Apellido 2</th>
            <th>Correo</th>
            <th>Rol de Usuario</th>
            <th>Departamento</th>
            <th>Puesto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var liquidacion in Model)
        {
            <tr>
                <td>@liquidacion.IdLiquidacion</td>
                <td>@liquidacion.FechaGeneracion?.ToString("dd/MM/yyyy")</td>
                <td>&#8353; @liquidacion.Monto</td>
                <td>@liquidacion.Colaborador.Persona.Identificacion</td>
                <td>@liquidacion.Colaborador.Persona.Nombre</td>
                <td>@liquidacion.Colaborador.Persona.Apellido1</td>
                <td>@liquidacion.Colaborador.Persona.Apellido2</td>
                <td>@liquidacion.Colaborador.Usuario.Correo</td>
                <td>@liquidacion.Colaborador.Usuario.RolDeUsuario.Descripcion</td>
                <td>@liquidacion.Colaborador.Departamento.Nombre</td>
                <td>@liquidacion.Colaborador.Puesto.NombrePuesto</td>
            </tr>
        }
    </tbody>
</table>
